<%- include ("partials/header.ejs") %>

<h1>Home</h1>

<form action="/" method="post">
    <p><%= homeEjsContent %></p>

    <% for (let i = 0; i < posts.length; i++) { %>
    <% console.log(posts[i].title); %>
    <% } %>
</form>

<%- include ("partials/footer.ejs") %>