<%- include ("partials/header.ejs") %>

<h1>Home</h1>

<form action="/" method="post">
    <p><%= homeEjsContent %></p>

    <% posts.forEach(function(posts) { %>
    <%  console.log(posts); %>
    <%})%>

</form>

<%- include ("partials/footer.ejs") %>